.title {
    color: blue;
    text-align: center;
}
a:link {
    text-decoration-color: deepskyblue;
    
}
.one { 
    border-style: solid;
   
}
h1{
    text-align: center;
}
.main-navbar {
    position: relative;
    background-color: gray;
}
.text{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: monospace;
    margin: 20px;
}

