.title {
    color: blue;
    text-align: center;
}
.main-navbar {
    position: relative;
    background-color: gray;
}
.column {
    float: left;
    width: 33.33%;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
}
a:link {
    text-decoration-color: deepskyblue;
    
}
.one { 
    border-style: solid;
   
}
h1{
    text-align: center;
}

.text{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: monospace;
    margin: 20px;
}

