.navbar {
    background-color: gray;
    position: fixed;
    min-height:6rem;
    top: 0;
    width: 100%;
    border: 5px solid black; 
    padding: 25px;
    margin: 5px;
    text-align: center;
}
body {
    background-color: black;
}
a{
    color: lavender;
    margin-left: 10px;
    margin-top: 25px;
    font-family: 'anton', 'Orbitron', sans-serif;
    
}
h2 {
    font-family: 'anton', 'Orbitron', sans-serif;
}
h3 {
    font-family: 'anton', 'Orditrion', sans-serif
}
h4 {
    font-family: 'anton', 'Orbitron', sans-serif;
}
footer {
    max-height: 10%;
    bottom: 0;
    position: fixed;
    background-color:gray;
    width: 100%;
    text-align: center;
}
box-left {
    background-color:black;
    margin-top: 17%;
    margin-left: 1%;
    text-align:right;
    max-width: 48%;
    display: inline-block;
}
header {
    font-size: 40px;
}
box-center {
    margin-top: 17%;
    margin-left: 2%;
    text-align: center;
    display: inline-block;
    background-color: lightseagreen;
    max-width: 24%;
}
table, th, td {
    border: 1px solid black;
  }