* {
    margin: 0;
}
html {
    background-color:silver;
    background-image:
    radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
    radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
    background-size: 100px 50px;
}
.header { 
    background-color: #BFCBC2;
    opacity: 80%;
    border: #333 5px;
    height: 20vh;
    grid-column: 1 / 4;
}
.products {
    background-color: black;
    opacity: 50%;
    height: 50px;
}
 .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: 'Open Sans Condensed';
    grid-column: 1 / 4;
}
 .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 .dropdown {
    float: left;
    overflow: hidden;
}
 .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
 .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #BFCBC2;
}
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
 .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
 .dropdown-content a:hover {
    background-color: #ddd;
}
 .dropdown:hover .dropdown-content {
    display: block;
}
#grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(25, 8vh);
    grid-gap: 10px;
    padding: 0px;
    margin-top: 50px;
    align-items: center;
}
h1 {
    padding-top: 0px;
    font-family: 'Homemade Apple', cursive;
    text-align: center;
}
hr {
    width: 100%;
    height: 80px;
    background-color: rgba(0,0,0,0.8);
}
.one {
    display: grid;
    background-color: #BFCBC2;
    border: white groove 15px;
    /* height: 650px; */
    /* margin-bottom: 30vh; */
    grid-column: 2 / 6;
    grid-row: 1 / 15;
}
img {
    height: 360px;
    width: 345px;
}
.anchor-two {
    color:#BFCBC2 ;
    text-decoration: none;
    font-family: 'Open Sans Condensed';
    padding: 15px;
}
.anchor-three {
    color:#BFCBC2 ;
    text-decoration: none;
    font-family: 'Open Sans Condensed';
    padding: 15px;
}
 footer {
    color:#BFCBC2;
    background-color: #333;
    font-family: 'Open Sans Condensed';
    height: 8vh; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-row: 16 / 18;
    grid-column: 1 / -1;
}
p {
    font-family: 'Open Sans Condensed';
    font-size: 35px;
    padding: 20px;
}

@media only screen and (max-width: 320px) { 
    
    * {
        margin: 0;
    }
    html {
        background-color:silver;
        background-image:
        radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
        radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
        background-size: 100px 50px;
    }
    #grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(50, 1fr);
        grid-gap: 0px;
        padding: 0px;
        margin-top: 0x;
        align-items: center;
    }
    .header { 
        background-color: #BFCBC2;
        opacity: 80%;
        border: #333 5px;
        height: 20vh;
        grid-column: 1 / 4;
    }
    .products {
        background-color: black;
        opacity: 50%;
        height: 50px;
    }
    .navbar {
        overflow: hidden;
        background-color: #333;
        font-family: 'Open Sans Condensed';
        grid-column: 1 / 4;
    }
    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .dropdown {
        float: left;
        overflow: hidden;
    }
    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #BFCBC2;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }

    h1 {
        padding-top: 15px;
        font-family: 'Homemade Apple', cursive;
        text-align: center;
        font-size: 20px;
    }
    hr {
        width: 320px;
        height: 80px;
        background-color: rgba(0,0,0,0.8);
    }
    .one {
        height: 800px;
        grid-column: 1 / -1;
        grid-row: 1 / 4;
    } 

    p {
        font-family: 'Open Sans Condensed';
        font-size: 20px;
        margin-top: 0px;
        padding: 40px;
    }
}
@media only screen and (max-width: 768px) {
    * {
        margin: 0;
    }
    html {
        background-color:silver;
        background-image:
        radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
        radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
        background-size: 100px 50px;
    }
    #grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 50vh);
        grid-gap: 10px;
        padding: 0px;
        margin-top: 50px;
        align-items: center;
    }
    .header { 
        background-color: #BFCBC2;
        opacity: 80%;
        border: #333 5px;
        height: 20vh;
        grid-column: 1 / 7;
    }
    .products {
        background-color: black;
        opacity: 50%;
        height: 50px;
    }
     .navbar {
        overflow: hidden;
        background-color: #333;
        font-family: 'Open Sans Condensed';
        grid-column: 1 / 4;
    }
     .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
     .dropdown {
        float: left;
        overflow: hidden;
    }
     .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
     .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #BFCBC2;
    }
     .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
     .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
     .dropdown-content a:hover {
        background-color: #ddd;
    }
     .dropdown:hover .dropdown-content {
        display: block;
    }
    h1 {
        padding-top: 0px;
        font-family: 'Homemade Apple', cursive;
        text-align: center;
        font-size: 20px;
    }
    hr {
        width: 100%;
        height: 80px;
        background-color: rgba(0,0,0,0.8);
    }
    .one {
        display: grid;
        background-color: #BFCBC2;
        border: white groove 15px;
        height: 650px;
        margin-bottom: 5vh;
        grid-column: 2 / 6;
        grid-row: 1 / 3;
    }
    img {
        height: 360px;
        width: 345px;
    }
    .anchor-two {
        color:#BFCBC2 ;
        text-decoration: none;
        font-family: 'Open Sans Condensed';
        padding: 15px;
    }
    .anchor-three {
        color:#BFCBC2 ;
        text-decoration: none;
        font-family: 'Open Sans Condensed';
        padding: 15px;
    }
     footer {
        color:#BFCBC2;
        background-color: #333;
        font-family: 'Open Sans Condensed';
        height: 8vh; 
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    p {
        font-family: 'Open Sans Condensed';
        font-size: 20px;
        margin-top: 25px;
        padding: 50px;
    }   
}
@media only screen and (max-width: 940px) {
    .one {
    height: 800px;
    grid-column: 2 / 6;
    grid-row: 1 / 4;
    } 
    p {
        font-family: 'Open Sans Condensed';
        font-size: 50px;
        margin-top: 25px;
        padding: 50px;
    }   
}
