
#grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    padding: 0px;
    margin: 0px;
    align-items: center;
}
box-1 {
    background-color: blueviolet;
    border-radius: 10px;
    box-sizing: border-box;
    height: 33vh;
    grid-column: 1 / 9;
}

box-3 {
    background-color: royalblue;
    border-radius: 10px;
    box-sizing: border-box;
    height: 67.8vh;
    grid-column: 1 / 5;
    grid-row: 2 / 4;

}
box-4 {
    background-color: seagreen;
    border-radius: 10px;
    box-sizing: border-box;
    height: 33vh;
    grid-column: 5 / 9;
    grid-row: 2;

}
box-5 {
    background-color: yellow;
    border-radius: 10px;
    box-sizing: border-box;
    height: 33vh;
    grid-column: 5 / 7;
    grid-row: 3 ;

}box-2 {
    background-color: yellow;
    border-radius: 10px;
    box-sizing: border-box;
    height: 33vh;
    grid-column: 7 / 9;
    grid-row: 3 ;

}
